
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;500;600;700&display=swap');

/* GLOBAL */

:root{
    --text-color: #494848;
    --name-header-color: #5239EE;
    --title-header-color: #F59B14;
    --subtitle-header-color: #00E7B0;
}
*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;    
    box-sizing: border-box;
}
body{

    font-family:'League Spartan', sans-serif;
    font-size: 24px;
    line-height: 1.25;

    color: var(--text-color);
}
h1 {
    color: var(--name-header-color);
    font-size: 72px;
    font-weight: 700;
}
h3{
    color: var(--title-header-color);
    font-weight: 600;
    /* padding-top: 10px; */
    font-size: 36px;
}
h4{
    color: var(--subtitle-header-color);
    font-weight: 500;
    /* margin-top: 8%; */
    font-size: 32px;
}
p{
    font-weight: 300;
    
}
a{
    text-decoration: none;
    color: var(--subtitle-header-color);
    display: block;

}
a:hover {
    color: inherit;
}

/* General style for all sections */
section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
    margin: 5% 0;
    align-items: start;
    text-align: justify;
}

/* Section div col left and right */

section div.col-left{
    text-align: right;
    position: sticky;
    height: 100vh;
    top: 0;
}

section div.footer-container{
    height: 80vh;
}

section div.col-right{
    margin-top: 20%;
    margin-bottom: 40%;
}

h4.subtitle-header{
    margin-top: 25px;
}

/* Name Section */

section.name-section{
    margin-top: 15%;
    
}
#about{
    color: var(--text-color);
}
#contact{
    color: var(--text-color);
}

/* WEB Section style */

.title-header{
    text-align: center;
    padding-top: 15%;
}

.th-description{
    text-align: justify;
    padding: 20px;
    background-color: #D7DBFF;
}
.logo-name{
    padding-top: 20px;
}
div.webpage-col{
    margin-top: 8%;
}

/* Tools Section style */

div.col-left-subheader{
    text-align: left;
    margin-top: 40px;
}
section div.col-right-tools{
    margin-top:15%;
    margin-bottom: 40%;
}

/* div.main-img-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8%;

    margin-top: 8%;
    padding-top: 8%;
} */

div.main-img-container{
    text-align: center;
    margin-top: 20%;
}


div.img-container {
    margin: 60px 0;
}

img.download_icon{
    margin-top: 5%;
}

/* .logo-img{
    width: 100%;
}
 */
/* Media Query */

@media (max-width: 800px) {
    
    h4{
        margin-top: 2%;
    }
    section{
        grid-template-columns: 1fr;
        gap: 0;
    }

    section div.col-left {
        position: static;
        height: auto;

        text-align: left; 
    }

    section div.main-img-container{
        grid-template-columns: 1fr;
    }

    .subtitle-header{
        margin-top: 8%;
    }

    .logo-img{
        width: 80%;
    }

    section div.col-right{
        margin-top: 0;
        margin-bottom:0;
    }

    img.download_icon{
        width: 30%;
    }

    div.col-left-subheader {
        margin-top: 0;
    }

    section.footer-container{
        margin-top: 100%;
    }

    .footer-container{
        margin-top: 100%;
    }
}