/* @font-face {
    font-family: "Coconat-Regular";
    src: url("assets/font/Coconat/web/Coconat-Regular.woff2") format("woff2"),
        url("assets/font/Coconat/web/Coconat-Regular.woff") format("woff");
        
}

@font-face {
    font-family: "Coconat-Bold";
    src: url("assets/font/Coconat/web/Coconat-BoldExt.woff2") format("woff2"),
        url("assets/font/Coconat/web/Coconat-BoldExt.woff") format("woff"); 
        
} */

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;500;600;700&display=swap');

/* GLOBAL */

:root{
    --text-color: #494848;
    --name-header-color: #5239EE;
    --title-header-color: #F59B14;
    --subtitle-header-color: #00E7B0;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;    
    box-sizing: border-box;
}

body{

    font-family:'League Spartan', sans-serif;
    font-size: 20px;
    line-height: 1.25;

    color: var(--text-color);
}

h1 {
    color: var(--name-header-color);
    font-size: 64px;
    font-weight: 700;
}

h3{
    color: var(--title-header-color);
    font-weight: 600;
    padding-top: 10px;
}

h4{
    color: var(--subtitle-header-color);
    font-weight: 500;
    margin-top: 8%;
}

p{
    font-weight: 300;
    
}

a{
    text-decoration: none;
    color: var(--subtitle-header-color);
    display: block;

}

a:hover {
    color: inherit;
}

section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
    margin: 5% 0;
    align-items: start;
    text-align: justify;
}


/* Name Section */

#about{
    color: var(--text-color);
}

#contact{
    color: var(--text-color);
}

/* Other section style */

section div.col-left{
    text-align: right;
    position: sticky;
    height: 80vh;
    top: 0;
}

section.name-section{
    margin-top: 15%;
    
}

section div.name-container{
    border-style: none;
}

.title-header{
    border-bottom: 0.5rem solid #D7DBFF;
}

div.img-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8%;

    margin-top: 8%;
    padding-top: 8%;
}

.logo-img{
    width: 100%;
}

.description{
    text-align: justify;
    padding-top: 10px;
}

section div.col-right{
    margin-top: 40%;
}

section div.col-right-tools{
    margin-top: 10%;
}

img.download_icon{
    width: 50%;
}

/* Media Query */

@media (max-width: 800px) {
    h4{
        margin-top: 2%;
    }
    section{
        grid-template-columns: 1fr;
        gap: 0;
    }

    section div.col-left {
        position: static;
        height: auto;

        text-align: left; 
    }

    section div.img-container{
        grid-template-columns: 1fr;
    }

    .subtitle-header{
        margin-top: 18%;
    }

    .logo-img{
        width: 80%;
    }

    section div.col-right{
        margin-top: 0;
    }

    img.download_icon{
        width: 30%;
    }

    section.footer-container{
        margin-top: 100%;
    }

    .footer-container{
        margin-top: 100%;
    }
}